.no-bottom{ 
  bottom:0px; 
}  
.feature { 
      width: 100%; 
      height: auto; 
      position: relative; 
      margin: 0; 
  } 
  .feature .img-top { 
      display: none; 
      position: absolute; 
      top: 0; 
      left: 0; 
      z-index: 99; 
  } 
  .feature:hover .img-top { 
      display: inline; 
  } 
   .feature:hover .img-bottom { 
      display: none; 
  } 
    
   .memberbox, 
   .memberbox * { 
        box-sizing: border-box; 
   } 
   .memberbox { 
        position: relative; 
        display: inline-block; 
        overflow: hidden; 
        max-width: 100%; 
        height: auto; 
   } 
   .memberbox img { 
        max-width: 100%; 
   } 
   .memberbox .memberbox-layer_bottom { 
        display: block; 
   } 
   .memberbox .memberbox-layer_top { 
        opacity: 0; 
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        width: 100%; 
        height: 100%; 
        background: rgba(0, 0, 0, 0.6); 
        color: #fff; 
        padding: 15px; 
        -moz-transition: all 0.4s ease-in-out 0s; 
        -webkit-transition: all 0.4s ease-in-out 0s; 
        -ms-transition: all 0.4s ease-in-out 0s; 
        transition: all 0.4s ease-in-out 0s; 
   } 
   .memberbox:hover .memberbox-layer_top, 
   .memberbox.active .memberbox-layer_top { 
        opacity: 1; 
   } 

.memberbox:hover .text-bottom { 
      display: none; 
  } 
   .memberbox .memberbox-text { 
        text-align: center; 
        font-size: 18px; 
        display: inline-block; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        -moz-transform: translate(-50%, -50%); 
        -webkit-transform: translate(-50%, -50%); 
        -ms-transform: translate(-50%, -50%); 
        transform: translate(-50%, -50%); 
   } 
   .memberbox .memberbox-text_mobile { 
        font-size: 15px; 
        border-top: 1px solid rgb(179, 179, 179); /* for old browsers */ 
        border-top: 1px solid rgba(179, 179, 179, 0.7); 
        margin-top: 5px; 
        padding-top: 2px; 
        display: none; 
   } 
   .memberbox.active .memberbox-text_mobile { 
        display: block; 
   } 

div.memberbox div.text { 
   position: absolute; 
   bottom: 0px; 
   border: solid 1px black; 
} 

/* Slideshow container */ 
.slideshow-container { 
position: relative; 
background: #F8F8F8; 
} 

/* Slides */ 
.mySlides { 
display: none; 
padding: 40px; 
padding-top: 0px; 
text-align: center; 
} 

/* Next & previous buttons */ 
.prev, .next { 
cursor: pointer; 
position: absolute; 
top: 50%; 
width: auto; 
margin-top: -30px; 
padding: 16px; 
color: #888; 
font-weight: bold; 
font-size: 20px; 
border-radius: 0 3px 3px 0; 
user-select: none; 
} 

/* Position the "next button" to the right */ 
.next { 
position: absolute; 
right: 0; 
border-radius: 3px 0 0 3px; 
} 

/* On hover, add a black background color with a little bit see-through */ 
.prev:hover, .next:hover { 
background-color: #cdcdcd; 
color: white; 
} 

/* The dot/bullet/indicator container */ 
.dot-container { 
  text-align: center; 
  padding: 20px; 
  background: #F8F8F8; 
} 

/* The dots/bullets/indicators */ 
.dot { 
cursor: pointer; 
height: 5px; 
width: 30px; 
margin: 0 2px; 
background-color: #bbb; 
border-radius: 0%; 
display: inline-block; 
transition: background-color 0.6s ease; 
} 

/* Add a background color to the active dot/circle */ 
.dot1:hover { 
background-color: #717171; 
}  
.dot1:active { 
background-color: #717171; 
} 

/* Slideshow container */ 
.slideshow-container1 { 
position: relative; 
color:#fff; 
} 

/* Slides */ 
.mySlides1 { 
display: none; 
padding: 40px; 
padding-top: 0px; 
text-align: center; 
} 

/* Next & previous buttons */ 
.prev1, .next1 { 
cursor: pointer; 
position: absolute; 
top: 50%; 
width: auto; 
margin-top: -30px; 
padding: 16px; 
color: #888; 
font-weight: bold; 
font-size: 20px; 
border-radius: 0 3px 3px 0; 
user-select: none; 
} 

/* Position the "next button" to the right */ 
.next1 { 
position: absolute; 
right: 0; 
border-radius: 3px 0 0 3px; 
} 

/* On hover, add a black background color with a little bit see-through */ 
.prev1:hover, .next1:hover { 
/* background-color: #cdcdcd; */ 
color: white; 
} 

/* The dot/bullet/indicator container */ 
.dot-container1 { 
  text-align: center; 
  padding: 20px; 
  background: #F8F8F8; 
} 

/* The dots/bullets/indicators */ 
.dot1 { 
cursor: pointer; 
height: 5px; 
width: 30px; 
margin: 0 2px; 
background-color: #bbb; 
border-radius: 0%; 
display: inline-block; 
transition: background-color 0.6s ease; 
} 

/* Add a background color to the active dot/circle */ 
.dot1:hover { 
background-color: #717171; 
} 
/* Add an italic font style to all quotes */ 
q {font-style: italic;} 

/* Add a blue color to the author */ 
.author {color: cornflowerblue;} 
.col-50{ 
width:50% 
} 
.anchor:hover{ 
color: #fff; 
  text-decoration: overline 
} 
@media only screen and (min-width: 768px) { 
/* For tablets: */ 
.mob{ 
display: none; 
} 
.lap{ 
display: block; 
} 
} 

@media only screen and (max-width: 769px) { 
/* For desktop: */ 
.mob{ 
  display: block; 
} 
.lap{ 
display: none; 
} 
} 


.modal div {  
height: 100%;  
}   

article {  
position: absolute;  
top: 50%;  
left: 50%;  
transform: translate(-50%, -50%);  
width: 100%;  
padding: 20px;  
}  


.left-half {  
background-color: #000000;  
position: absolute;  
bottom:0px;  
left: 0px;  
width: 40%;  
padding-right:50px  
}  

.full-modal {  
background-color: #000000;  
position: absolute;  
top:0px;  
left: 0px;  
width: 100%;  
}  

.right-half {  
background-color: #ffffff ;  
position: absolute;  
/* text-align: center;  */ 
right: 0px;  
width: 60%;  
}  

.tmodal {  
background-color: #ffffff ;  
position: absolute;  
text-align: center;  
right: 0px;  
width: 100%;  
}   

.left-half1 {  
background-color: #ffffff;  
position: absolute;  
bottom:0px;  
left: 0px;  
width: 70%;  
padding-right:50px  
}  

.right-half1 {  
background-color: #000000 ;  
position: absolute;  
/* text-align: center;  */ 
right: 0px;  
width: 30%;  
}  
/* #email {  
  background: transparent;  
  border: none;  
  border-bottom: 1px solid #000000;  
  outline:none;  
  box-shadow:none;  
}  
#password {  
  background: transparent;  
  border: none;  
  border-bottom: 1px solid #000000;  
  outline:none;  
  box-shadow:none;  
}   */ 

/* * { box-sizing:border-box; } 

body { 
   font-family: Helvetica; 
   background: #eee; 
-webkit-font-smoothing: antialiased; 
} */ 

/* hgroup {  
   text-align:center; 
   margin-top: 4em; 
} 

h1, h3 { font-weight: 300; } 

h1 { color: #636363; } 

h3 { color: #4a89dc; } */ 

form { 
   width: 300px; 
   margin: 4em auto; 
padding: 3em 2em 2em 2em; 
font-size: small; 
   /* background: #fafafa; 
   border: 1px solid #ebebeb; */ 
   /* box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px; */ 
} 

.group {  
   position: relative;  
   margin-bottom: 10px;  
} 

input { 
   font-size: 13px; 
   padding: 5px 10px 5px 0px; 
-webkit-appearance: none; 
background: transparent; 
   /* display: block; 
   background: #fafafa; */ 
   color: #000000; 
   width: 100%; 
   border: none; 
   border-radius: 0; 
   border-bottom: 0.2px solid #999; 
} 

input:focus { outline: none; border-bottom: 0.5px solid #000;} 


/* Label */ 

label:not(.test_container) { 
   color: #999;  
   font-size: 14px; 
   font-weight: normal; 
   position: absolute; 
pointer-events: none; 
text-align: left; 
   left: 5px; 
top: 5px; 
bottom: 0px; 
   transition: all 0.2s ease; 
} 


/* active */ 

input:focus ~ label, input.used ~ label { 
top: -10px; 
/* bottom: 0px; */ 
transform: scale(.75); left: -5px; 
   /* font-size: 14px; */ 
   color: #999; 
} 


/* Underline */ 

.bar { 
   position: relative; 
   display: block; 
width: 100%; 
color:#999; 
} 

.bar:before, .bar:after { 
   content: ''; 
   height: 1px;  
   width: 0; 
   bottom: 0px;  
   position: absolute; 
   background: #212327;  
   transition: all 0.2s ease; 
} 

.bar:before { left: 50%; } 

.bar:after { right: 50%; } 


/* active */ 

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; } 


/* Highlight */ 

/* .highlight { 
   position: absolute; 
   height: 60%;  
   width: 100px;  
   top: 10%;  
   left: 0; 
   pointer-events: none; 
   opacity: 0.5; 
} */ 


/* active */ 

input:focus ~ .highlight { 
   animation: inputHighlighter 0.3s ease; 
} 


/* Animations */ 

@keyframes inputHighlighter { 
   from { background: #4a89dc; } 
   to      { width: 0; background: transparent; } 
} 

.ripples { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
overflow: hidden; 
background: transparent; 
} 


/* Ripples circle */ 

.ripplesCircle { 
position: absolute; 
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
opacity: 0; 
width: 0; 
height: 0; 
border-radius: 50%; 
background: rgba(255, 255, 255, 0.25); 
} 

.ripples.is-active .ripplesCircle { 
animation: ripples .4s ease-in; 
} 


/* Ripples animation */ 

@keyframes ripples { 
0% { opacity: 0; } 

25% { opacity: 1; } 

100% { 
  width: 200%; 
  padding-bottom: 200%; 
  opacity: 0; 
} 
} 

footer { text-align: center; margin: 0px; } 

footer p { 
   color: #888; 
   font-size: 13px; 
   letter-spacing: .4px; 
} 

footer a { 
   color: #4a89dc; 
   text-decoration: none; 
   transition: all .2s ease; 
} 

footer a:hover { 
   color: #666; 
text-decoration: underline; 
} 

input[type=checkbox], input[type=radio] { 
width: 12px; 
height: 12px; 
margin-right: 5px; 
vertical-align: center; 
border: 1px solid #343a40; 
} 

input[type=checkbox]:after, input[type=radio]:after { 
content: ""; 
/* border-bottom: 10px solid white; */ 
border-top: 5px solid white; 
display: block; 
opacity: 1; 
} 
 
/* custom radio button */
/* The container */
.test_container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.test_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.test_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.test_container input:checked ~ .checkmark {
  background-color: #000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.test_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.test_container .checkmark:after {
 	top: 5.5px;
	left: 6px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: white;
}
/* custom radio button ends here */



/* input[type=radio] { 
  width: 12px; 
  height: 12px; 
  margin-right: 5px; 
  vertical-align: center; 
  border-radius: 50%;
  border: 1px solid #343a40; 
  } 

  input[type=radio]:after
  { 
    content: ""; 
  border: 1px solid #343a40; 
    border-bottom: 10px solid white; 
    border-top: 5px solid white; 
    display: block; 
    opacity: 1; 
  }

  input[type=radio]:checked:after
  { 
    border-bottom: 5px solid #343a40; 
    border-top: 5px solid #343a40; 
  }  */

footer img:hover { opacity: .83; } 

footer img:focus , footer a:focus { outline: none; } 

#search form { 
   width: 200px; 
   margin: 4em auto; 
padding: 3em 2em 2em 2em; 
font-size: small; 
top:50%; 
   /* background: #fafafa; 
   border: 1px solid #ebebeb; */ 
/* box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px; */ 
 
} 
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.popup-box-on { 
  display: block !important; 
} 
.off { 
  display: none; 
} 
/* .chat_box .chat_message_wrapper ul.chat_message > li + li { 
  margin-top: 4px; 
} */ 

#search.open { 
  opacity: 1; 
  transform: translate(0px, 0px) scale(1, 1); 
} 
#search { 
  background-color: #fff; 
  height: 100%; 
  left: 0; 
  position: fixed; 
  top: 0; 
  transition: all 0.5s ease-in-out 0s; 
  width: 100%; 
  z-index: 2000; 
   
} 
#search .close { 
  color: #be5254; 
  font-size: 40px; 
  opacity: 1; 
  padding: 10px 17px; 
  position: fixed; 
  right: 15px; 
  top: 15px; 
} 
button.close { 
  background: transparent none repeat scroll 0 0; 
  border: 0 none; 
  cursor: pointer; 
} 
.close { 
  float: right; 
  font-weight: bold; 
  line-height: 1; 
  text-shadow: 0 1px 0 #fff; 
} 

#search input[type="text"] { 
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0; 
  border: 0 none; 
  color: #333; 
  font-family: "Open Sans",sans-serif; 
  font-size: 40px; 
  font-weight: bolder; 
  /* margin: -51px auto 0; */ 
  outline: medium none; 
  /* padding-left: 30px; 
  padding-right: 30px; */ 
  position: absolute; 
  /* text-align: center; */ 
  /* top: 50%; */ 
  /* width: 100%; */ 
} 


#term{ 
width: auto; 
} 
#search .btn { 
  /* left: 50%; */ 
  margin-top: 60px; 
  padding: 10px 10px; 
  position: absolute; 
  top: 50%; 
  transform: translateX(-50%); 
} 
/* nav { 
  background: #be5254 none repeat scroll 0 0 !important; 
  border: medium none !important; 
  border-radius: 151px !important; 
} */ 
/* .s-icon a { 
  background: #fff none repeat scroll 0 0 !important; 
  border-radius: 40px !important; 
  color: #be5254 !important; 
  font-size: 26px; 
  height: 44px; 
  margin: 3px -12px 0 0; 
  padding: 7px 0 0 !important; 
  text-align: center; 
  width: 44px; 
} */ 
.navbar-inverse .navbar-nav > li > a { 
  color: #fff; 
} 
.navbar-inverse .navbar-brand { 
  background: #fff none repeat scroll 0 0 !important;  
  border-radius: 50px; 
   color: #be5254 !important; 
  height: auto; 
  margin: 3px 0 2px -12px !important; 
  padding: 12px 20px !important; 
} 
.btn-lg, .btn-group-lg > .btn { 
  border-radius: 153px; 
  font-size: 29px; 
} 
.btn-site { 
  background: #be5254 none repeat scroll 0 0; 
  color: #fff !important; 
} 


ul.pagination { 
display: inline-block; 
padding: 0; 
margin: 0; 
} 

ul.pagination li {display: inline;} 

ul.pagination li a { 
color: #343a40; 
float: left; 
padding: 8px 16px; 
text-decoration: none; 
transition: background-color .3s; 

} 

ul.pagination li a.active { 

color: #343a40; 
border: 1px solid #343a40; 
} 

ul.pagination li a:hover:not(.active) {background-color:#fff;border: 1px solid #343a40;} 

div.center {text-align: center;} 


.main-nav-menu{ 
list-style-type: none; 
margin: 0; 
padding: 0px; 
overflow: hidden; 

} 
.main-nav-menu li { 
float: left; 
} 
.main-nav-menu li a { 
display: block; 
color: white; 
text-align: center; 
padding: 0px 26px 10px 26px; 
text-decoration: none; 
} 
.filter img{ 
-webkit-filter: brightness(75%); filter: brightness(75%); 
} 
input[type=checkbox]:checked:after, input[type=radio]:checked:after { 
border-bottom: 5px solid #000; 
border-top: 5px solid #000; 
} 

input[type=radio]:checked:after { 
  border-bottom: 5px solid #000; 
  border-top: 5px solid #000; 
  border-bottom-width: 8px;
} 
  


/* select {      
         
background: transparent;      
   /* display: block;      
   background: #fafafa; */      
   /* color: #ffffff;      
    width: 100%;      
   border: none;      
   border-radius: 0;  */      
   /* border-bottom: 0.2px solid #999; */      
/* }      
select:after{      
content:'\f078';      
-      
} */      
.select-wrapper select option {      
    
background-color: transparent;       
   /* background: #fafafa;  */      
   color: #000;      
    
}      
    
select {       
background: transparent;       
border-bottom: 1px solid rgb(141, 138, 138);    
border-top:0px;
border-left:0px;
border-right: 0px;   
/* border-radius: 4px;        */
width: 100%;       
padding: 10px;       
font-size: 14px;       
color:#fff;       
    
/* Here's the code we need */       
-webkit-appearance: none;       
-moz-appearance: none;       
-ms-appearance: none;       
 -o-appearance: none;       
     appearance: none;       
} 
 .select-fontsize{
   font-size:12px;
 }   
.select-wrapper {       
position: relative;            
}       
    
.select-wrapper:after {       
font-family: FontAwesome;       
  content: '\f107';       
  font-size: 28px;       
 position: absolute;       
  top: 3px;       
  right: 20px;       
  color: #fff;       
  pointer-events: none;       
}       
    
select::-ms-expand {       
display: none;       
}      
    
.select-wrapper select:focus{      
outline:none;      
}      
    
select>option:hover{      
background-color:grey;      
}

.owl-dots{
  display: none;
}

.pagination1 { 
  display: inline-block; 
  padding: 0; 
  margin: 0; 
  } 
  
.pagination1  {display: inline;} 
  
  .pagination1  a { 
  color: #343a40; 
  padding: 8px 16px; 
  text-decoration: none; 
  transition: background-color .3s; 
  
  } 
  
  .pagination1 strong { 
  
  color: #343a40; 
  border: 1px solid #343a40; 
  padding: 8px 16px; 

  } 
  .booking-div{
    overflow-y:auto;
    max-height: 200px
  }
  
  .pagination1  a:hover:not(.active) {background-color:#fff;border: 1px solid #343a40;
  } 

  @media (min-width: 992px){
     .modal-lg, .modal-xl {
    max-width: 85%;  
  }
  
}
.bg-black{
  background: #000;
  color:#fff;
}

/* fadein fadeout section in home page */
span.a {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:10px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.b {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:45px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration:11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.c {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:70px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.d {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:100px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.e {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:120px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.f {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:145px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.g {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:70px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration:22s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.h {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:50px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.i {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:20px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration:26s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.j {
  color: grey;
  opacity:0;
  position: relative;
  margin-left:170px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span.k {
  color: black;
  opacity:0;
  position: relative;
  margin-left:0px;
  font-size:45px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes example {
  0%   {color:grey; left:0px; top:0px; opacity:0;}
  25%  {color:black; left:0px; top:0px;opacity:1}
}
@media only screen and (max-width: 600px) {
  span.a,span.b,span.c,span.d,span.e,span.f,span.g,span.h,span.i,span.j,span.k {
    font-size:25px;
  }
}

